@inherits LayoutComponentBase

<header class="top-bar">
    <div class="brand">
        <BackArrow/>

        <div class="icon-group">
            <div class="logo">C</div>
        </div>
        <div class="brand-text">

            <h4>CEMEX</h4>
            <p>Building the Future</p>
        </div>
    </div>
</header>

<main class="content">
    @Body
</main>
